#app {
  display: grid;
  grid-template-columns: minmax(max-content, 1fr) minmax(max-content, 1fr);
  grid-template-rows: max-content max-content 1fr;

  height: 100vh;
  padding: 1em;
}

.container {
  overflow: auto;
  display: flex;
  align-items: safe center;
  justify-content: safe center;
  flex-direction: column;
}
