@import "../colors";

@namespace svg url(http://www.w3.org/2000/svg);

text {
  fill: $text;
  font-family: monospace;
  dominant-baseline: central;
  text-anchor: end;
  font-size: 18px;
}

path,
line {
  stroke: $text;
  stroke-width: 2;
}

#paths {
  fill: transparent;
}

#gates {
  fill: darken($bg-1, 5%);
}
