@import "../colors";

#input {
  grid-column: 1 / -1;
  justify-self: stretch;
  text-align: center;
  display: flex;
  flex-direction: column;

  input {
    color: inherit;
    text-align: center;
    font-family: monospace;
    font-size: 1rem;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    border: 1px solid $bg-4;
    border-radius: 0.25em;
    padding: 0.5em;
    background: $bg-2;

    transition: border-color 0.25s, box-shadow 0.25s, background 0.25s;
    &:focus {
      border-color: $accent;
      box-shadow: 0 0 0 0.25em rgba($accent, 0.5);
    }
  }

  div {
    margin-bottom: 0.75em;
    color: $error;
  }

  &.error input {
    background: mix($bg-2, $error, 75%);
    border-color: $error;
    box-shadow: 0 0 0 0.25em rgba($error, 0.5);
  }
}
