@import "../colors";

#output {
  grid-column: 1 / -1;
  font-family: monospace;
  font-size: 1rem;
  text-align: center;
  margin-top: 0.75em;

  .not {
    display: inline-block;
    border-top: 1px solid $text;
    margin-top: 4px;
  }
}
