@import "../colors";

.errorMsg {
  $error-bg: mix($bg-1, $error, 80%);
  position: relative;
  color: mix($error, $text, 90%);
  background: $error-bg;
  padding: 0.2em;
  border-radius: 0.2em;
  margin-bottom: 1em;

  &::after {
    content: "▼";
    color: $error-bg;
    position: absolute;
    top: 1em + 0.2em;
    left: 50%;
  }
}

#table {
  display: flex;
  flex-direction: column;
  font-family: monospace;
  font-size: 1.25rem;
  border: 1px solid $bg-4;

  .header {
    background: $bg-2;
    border-bottom: 1px solid $bg-4;
    padding: 0.1em 0.25em;
  }

  .row {
    display: flex;
    height: 1.25em;
    padding-left: 0.25em;
    border-bottom: 1px solid $bg-3;

    &:last-child {
      border-bottom: none;
    }

    &:nth-child(odd) {
      background: $bg-2;
    }

    .binary {
      padding-right: 0.25em;
      border-right: 1px solid $bg-3;
    }

    .computed {
      padding: 0 0.25em;
      cursor: pointer;

      user-select: none;
      -webkit-user-select: none;

      z-index: 10;
      transition: box-shadow 0.1s, background 0.1s;
      &:hover {
        box-shadow: 0 0 0 2px $accent, 0 0 0 0.25em mix($accent, $bg-1, 50%);
        background: mix($accent, $bg-1, 50%);
      }
    }
  }

  transition: border-color 0.25s, box-shadow 0.25s;
  &.error {
    border-color: $error;
    box-shadow: 0 0 0 0.25em rgba($error, 0.5);
  }
}
