@import "colors";
@import "normalize.css/normalize.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $bg-1;
  color: $text;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
